<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.ysyd.mapper.sys.TsRoleMapper" >

    <resultMap id="roleMap" type="com.cl.ysyd.dto.sys.res.RoleAllResDto">
        <id column="pk_id" jdbcType="VARCHAR" property="key" />
        <result column="role_name" jdbcType="VARCHAR" property="label" />
    </resultMap>


    <select id="queryAll" resultMap="roleMap">
        select
            pk_id,
            role_name
        from
            ts_role
        where
            status = 1
        and pk_id != 1
        order by pk_id
    </select>

    <select id="queryByUserId" resultMap="BaseResultMap" parameterType="string">
        SELECT
            tr.*
        FROM
            ts_role tr
            LEFT JOIN tr_user_role tur ON tur.role_id = tr.pk_id
        WHERE
            tur.user_id = #{userId}
    </select>


</mapper>
